---
import Icon from '@src/components/share/Icon.component.astro'
import type { ImagenCard } from '@src/types/publicaciones/publicacionesDestacadas'
import { Image } from 'astro:assets'

interface Props {
    cover: ImagenCard;
    title: string;
    description: string;
    slug: string;
}

const { cover, title, description, slug } = Astro.props as Props;
---

<div
    class="group relative m-0 flex h-full w-full rounded-xl shadow-xl ring-gray-900/5"
>
    <div class="w-full h-full bg-slate-700 opacity-30 absolute z-20"></div>
    <div
        class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 transition duration-300 ease-in-out"
    >
        <Image
            src={cover.url}
            class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110"
            alt={title}
            width={cover.width}
            height={cover.height}
        />
    </div>
    <div
        class="absolute bottom-0 left-0 w-full z-30 md:text-left pb-14 text-white px-16 text-center flex flex-col md:flex-row gap-2"
    >
        <div class="w-full md:w-2/3 flex flex-col gap-4">
            <h1 class="text-lg md:text-2xl xl:text-4xl font-bold">
                {title}
            </h1>
            <p class="hidden md:block font-medium">
                {description}
            </p>
        </div>
        <div class="flex justify-center items-center md:w-1/3">
            <div class="border-2 border-ayllus-secondary rounded-lg">
                <a
                    href={`/publicaciones/${slug}`}
                    class="text-ayllus-secondary flex flex-col gap-2 items-center px-8 py-2"
                >
                    <Icon name='arrow-right' className="w-14 h-14 hidden md:block" />
                    <span class="font-bold">Leer más</span>
                </a>
            </div>
        </div>
    </div>
</div>
